.cell-item {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

.cell-item.hidden {
    background: rgba(0,0,0, 0.1);
}

.cell-item.missed {
    background: rgba(0,0,0, 0.5);
}

.cell-item.hit {
    background: rgba(255, 0 ,0, 1);
}